    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    body {
        top: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    nav {
        height: 8rem;
    }
    
    section {
        width: 70%;
    }
    
    footer {
        margin-top: 3rem;
        text-align: center;
    }
    
    h4 {
        color: #28a745;
    }
    
    h5 {
        color: #212529;
    }
    
    h6 {
        color: #707070;
    }
    
    .container-fluid {
        justify-content: space-evenly;
        align-items: stretch;
    }
    
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
    
    .navbar-light .navbar-toggler {
        border: 1px solid #f8f9fa;
    }
    
    .displayInLineBlock {
        display: inline-block;
    }
    
    #bordes {
        border-color: #f8f9fa;
        border-style: solid;
        border-radius: 2px;
    }